/*set up grid display & layout */ 
.home_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*image grid display & layout */ 
img {
    grid-column: 1/2;
    grid-row: 1/2;
}
/*'Tart and Sweet' */ 
h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    color: black;
    font-weight:bold;
    font-size: 225px;
}
/*aside */ 
aside {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: lightgrey; 
    text-align: center;

}
/*'Cherries' */  
aside p { 
    grid-column: 2/3;
    grid-row: 2/3;
    color: red;
    font-weight: bold;
    font-size: 75px;
    vertical-align: baseline;
    z-index: 1;
}
