nav {
    text-align: center;
}

nav a {
    color: white; 
}

body {
    background-color: black;
    color: white;
}


#hero_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer {
    color: white;

}

.contact {
    color: white;
}