
a {
    
    color: rgb(102, 201, 117);
}

body {
    background-color: black;
    color: white
}

img {
    width: 100%;
}

.background_cv img {
    width: 100%;

}
.container {
    position: relative;
    text-align: center;
    
}

.cv img {
    width: 100%;
}

.center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.left-middle {
    position: absolute;
    top: 575px;
    left: 550px;
}

.left-bottom {
    position: absolute;
    top: 800px;
    left: 550px;
}

.right-middle {
    position: absolute;
    top: 575px;
    right: 500px;
}


.right-bottom {
    position: absolute;
    top: 800px;
    right: 500px;
}


footer {
    color: white;
    text-align: center;

}

.contact {
    color: white;
}